/* src/styles/Navbar.css */
.navbar {
    position: fixed;
    width: 1580px;
    height: 43px;
    top: 30px;
    left: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 1000; */
}

.logo {
    width: 100px;
    height: auto;


}
img{
    height: auto;
    width: auto;
}

.contact-link {
    position: absolute;
   
     left: 1200px;
    color: black;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    
}